* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    width: 100%;
    height: 100vh;          
    overflow: hidden;     

    background-image: url("assets/background.png");
    user-select: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    user-select: none;
    border-radius: 15px;
}

.app {
    height: 100%;
    overflow-y: auto;       
    padding: 16px;
}

.navigation {
    position: absolute;
    top: clamp(24px, 5vw, 52px);
    left: clamp(24px, 5vw, 70px);
  
    display: flex;
    gap: clamp(14px, 3vw, 40px);
    justify-content: flex-start;
    align-items: center;
} 
.navigation a {
    text-decoration: none;
}
.navigationBtn {
    font-family: "Caprasimo";
    font-size: clamp(14px, 2vw, 18px);
    color: #F7FFE9;
  
    height: clamp(34px, 4vw, 44px);
    min-width: clamp(120px, 12vw, 170px);
    padding: 0 18px;
  
    border: none;
    border-radius: 999px;
  
    background: #669D31;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
} 
.navigationBtn:hover {
    filter: brightness(1.07);
}  
.navigationBtn:active {
    transform: translateY(1px);
}

h1 {
    font-family: 'Caprasimo';
    font-size: clamp(32px, 8vw, 72px);
    color: #F7FFE9;
    margin-top: 100px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.iconBtn {
    width: 28px;
    height: 28px;

    border: none;
    background: transparent;
    border-radius: 6px;

    display: grid;
    place-items: center;

    cursor: pointer;
}
.iconBtn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    pointer-events: none; 
}
.iconBtn:hover {
    background: rgba(255, 255, 255, 0.15);
}
.iconBtn:active {
    transform: translateY(1px);
}

.incompleteTasks {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 40px auto;
    align-items: center;
    width: 90%;
}
.incompleteRow {
    width: 100%;
    max-width: 1000px;
    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20.5px;
    opacity: 100;
    background: rgba(109, 163, 38, 0.47);

    padding: 6px 14px;
}
.incompleteText {
    font-family: 'Pixelify Sans';
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 12px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}
.taskTitle {
    font-family: 'Pixelify Sans';
    font-size: 20px;
    color: #FFFFFF;
}
.taskDate{
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: 'Pixelify Sans';
    font-size: 14px;
    color: #FFFFFF;
}
.incompleteActions {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    padding-right: 10px;
}
.taskBar {
    width: 90%;
    max-width: 1000px;
    min-height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;
    margin: 24px auto;

    border-radius: 20.5px;
    background: rgba(109, 163, 38, 0.47);

    padding: 6px 14px;   
}
.taskBarText {
    font-family: 'Pixelify Sans';
    color: #FFFFFF;
    opacity: 0.6;
    text-align: left;
}
.taskBarDate{
    font-family: 'Pixelify Sans';
    color: #FFFFFF;
    opacity: 0.6;
    text-align: right;
    background: transparent;
    border: none;
}
.taskBarInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
  
    font-family: 'Pixelify Sans';
    font-size: 18px;
    color: #FFFFFF;

    padding-top: 15px;
}
.taskBarInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
} 
.taskBarAdd {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 6px;
  
    background: transparent;
    color: #FFFFFF;
  
    font-family: 'Pixelify Sans';
    font-size: 20px;
  
    cursor: pointer;
}  
.taskBarAdd:hover {
    background: rgba(255, 255, 255, 0.22);
}
.taskBarAdd:active {
    transform: translateY(1px);
}

.deletedTasks {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 40px auto;
    align-items: center;
    width: 90%;
}
.deletedRow {
    width: 100%;
    max-width: 1000px;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20.5px;
    opacity: 100;
    background: rgba(109, 163, 38, 0.60);

    padding: 6px 14px;
}
.deletedText {
    font-family: 'Pixelify Sans';
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 12px;
} 
.deletedActions {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    padding-right: 10px;
}

.daysBoard {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: clamp(16px, 3vw, 28px);
} 
.dayCol {
    background: rgba(102, 157, 49, 0.7);
    border-radius: 22px;
  
    padding: 18px 14px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  
    min-height: 420px;
} 
.calendarDate {
    font-family: "Caprasimo";
    font-size: clamp(18px, 2vw, 26px);
    color: #ffffff;
}
.calendarTaskCard {
    width: 85%;
    min-height: 110px;
  
    background: rgba(207, 222, 192, 0.8);
    border-radius: 22px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: "Pixelify Sans";
    font-size: 18px;
    color: #ffffff;
} 

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

@media (max-width: 900px) {
    .daysBoard {
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 520px) {
    .daysBoard {
      grid-template-columns: 1fr;
    }
  
    .dayCol {
      min-height: auto;
    }
}
@media (max-width: 600px) {
    .navigation {
        gap: 10px;
    }

    .navigationBtn {
        min-width: 64px;
        padding: 6px 10px;
    }

    .deletedText {
        font-size: 16px;
    }

    .iconBtn {
        width: 24px;
        height: 24px;
    }
}

@font-face {
    font-family: 'Caprasimo';
    src: url('fonts/Caprasimo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixelify Sans';
    src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}