* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/background.png');
    user-select: none;
    -webkit-app-region: drag;
}
  
.app {
    padding: 16px;
}

.navigation {
    position: absolute;
    top: 53px;        
    left: 70px;
    display: flex;
    gap: 40px;
}
.navigation a {
    text-decoration: none;
}
.navigationBtn {
    font-family: 'Caprasimo';
    font-size: 10pt;
    color: #F7FFE9;

    width: 70px;
    height: 24px;

    border: none;
    border-radius: 999px;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.navigationBtn:focus {
    outline: none;
}


h1 {
    font-family: 'Caprasimo';
    font-size: 45pt;
    color: #F7FFE9;
    padding-top: 91px;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.iconBtn {
    width: 28px;
    height: 28px;

    border: none;
    background: transparent;
    border-radius: 6px;

    display: grid;
    place-items: center;

    cursor: pointer;
}
.iconBtn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    pointer-events: none; 
}
.iconBtn:hover {
    background: rgba(255, 255, 255, 0.15);
}
.iconBtn:active {
    transform: translateY(1px);
}

.incompleteTasks {

}

.incompleteRow {

}

.incompleteText {

}

.incompleteActions {

}

.deletedTasks {
    position: absolute;
    top: 190px;        
    left: 92px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.deletedRow {
    width: 716px;
    height: 41px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20.5px;
    opacity: 0.6;
    background: rgba(109, 163, 38, 0.60);

    padding-left: 15px;
    padding-top: 3px;
}
.deletedText {
    font-family: 'Pixelify Sans';
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 12px;
} 
.deletedActions {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    padding-right: 10px;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

@font-face {
    font-family: 'Caprasimo';
    src: url('fonts/Caprasimo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}